{% extends 'layout.html' %}

{% block body %}
  <div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Books List </h1>
    </div>
    <div class="col-md-6">
    <img src="fine.png" >
    <a href="/check_fine" >Click here to check outstanding fines </a>

    </div>
  </div>
  <div>

  </div>
  <hr>
  <a class="btn btn-success" href="/issue_books"> Issue books </a>
  <a class="btn btn-success" href="/return_books"> Return books </a>
  <table class="table table-hover table-stripped">
    <tr>
      <th>Book Name</th>
      <th>Number of Available Copies</th>
    </tr>

    {% for book in books %}
      <tr>
        <td>{{book.bookName}}</td>
        <td>{{book.count}}</td>
      </tr>
    {% endfor %}

  </table>

{% endblock %}
