{% extends 'layout.html' %}

{% block body %}
  <h1>Return Books</h1>

  {% from "includes/_formhelpers.html" import render_field %}

  <form method="POST" action="">
    <div class="form-group">
      {{render_field(form.studentUsername, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.staffUsername, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.bookName, class_="form-control")}}
    </div>
    <p>
      <input type="submit" class="btn btn-primary" value="Submit">
    </p>
  </form>

  <a class="btn btn-primary" href="/pay_fine"> Pay Fine </a>

{% endblock %}
