{% extends 'layout.html' %}

{% block body %}
<body background = "{{ url_for('static', filename='images/try.jpeg')}}" background-size:100px 100px;>
  <br>
  <h1>Books List </h1>
  <br>

  <table class="table table-hover table-stripped table-borderless">
    <thead class="thead-dark">
    <tr>
      <th>Book Name</th>
      <th>Number of Available Copies</th>
    </tr>

    {% for book in books %}
      <tr>
        <td>{{book.bookName}}</td>
        <td>{{book.count}}</td>
      </tr>
    {% endfor %}

  </table>

{% endblock %}
